@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: oklch(0.99 0.01 245);
	--color-primary-100: oklch(0.96 0.02 245);
	--color-primary-200: oklch(0.92 0.05 245);
	--color-primary-300: oklch(0.85 0.09 245);
	--color-primary-400: oklch(0.78 0.13 245);
	--color-primary-500: oklch(0.7 0.17 245);
	--color-primary-600: oklch(0.61 0.14 245);
	--color-primary-700: oklch(0.52 0.12 245);
	--color-primary-800: oklch(0.41 0.1 245);
	--color-primary-900: oklch(0.3 0.07 245);

	--color-secondary-50: oklch(0.99 0.01 91);
	--color-secondary-100: oklch(0.96 0.02 91);
	--color-secondary-200: oklch(0.92 0.05 91);
	--color-secondary-300: oklch(0.85 0.09 91);
	--color-secondary-400: oklch(0.79 0.13 91);
	--color-secondary-500: oklch(0.71 0.17 91);
	--color-secondary-600: oklch(0.61 0.14 91);
	--color-secondary-700: oklch(0.52 0.12 91);
	--color-secondary-800: oklch(0.41 0.1 91);
	--color-secondary-900: oklch(0.3 0.07 91);

	/*
	These exist only so Tailwind / editor IntelliSense can autocomplete
	utilities like `bg-50`, `bg-100`, `text-200`, etc.
	*/

	--color-50: var(--surface-50);
	--color-100: var(--surface-100);
	--color-200: var(--surface-200);
	--color-300: var(--surface-300);
	--color-400: var(--surface-400);
	--color-500: var(--surface-500);
	--color-600: var(--surface-600);
	--color-700: var(--surface-700);
	--color-800: var(--surface-800);
	--color-900: var(--surface-900);

	--color-dark: var(--base-dark);
	--color-light: var(--base-light);

	--color-darken: var(--darken);
}
html {
	font-family: 'Noto Sans', sans-serif !important;
}
:root {
	--base-dark: #070607;
	--base-light: #f3f1eb;

	--color-accent: var(--color-primary-500);
	--color-secondary: var(--color-secondary-500);
}

:root {
	--color-bg: var(--base-light);
	--color-text: var(--base-dark);
	--color-muted: color-mix(in srgb, var(var(--base-dark)) 70%, transparent);
	--darken: rgba(1, 1, 1, 0.24);
	--surface-50: #f3f1eb;
	--surface-100: #f0eee8;
	--surface-200: #e9e7e1;
	--surface-300: #e3e1db;
	--surface-400: #dcdad4;
	--surface-500: #d2d1ca;
	--surface-600: #cccbc4;
	--surface-700: #c2c1ba;
	--surface-800: #b8b7b1;
	--surface-900: #afaea7;
}

.dark {
	--color-bg: var(--base-dark);
	--color-text: var(--base-light);
	--color-muted: color-mix(in srgb, var(--base-light) 70%, transparent);
	--darken: rgba(2, 2, 2, 0.51);

	--surface-50: #070607;
	--surface-100: #141314;
	--surface-200: #212021;
	--surface-300: #302f30;
	--surface-400: #3f3e3f;
	--surface-500: #504e50;
	--surface-600: #605f60;
	--surface-700: #717071;
	--surface-800: #838283;
	--surface-900: #959495;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: var(--base-dark);
		--color-text: var(--base-light);
		--color-muted: color-mix(in srgb, var(--base-light) 70%, transparent);
		--darken: rgba(2, 2, 2, 0.51);

		--surface-50: #181718;
		--surface-100: #201f20;
		--surface-200: #2a292a;
		--surface-300: #363536;
		--surface-400: #4d4b46;
		--surface-500: #65635d;
		--surface-600: #807d74;
		--surface-700: #9b988e;
		--surface-800: #b6b2a6;
		--surface-900: #d8d3c1;
	}
}

@source '../../node_modules/flowbite-svelte/dist';
@source '../../node_modules/flowbite-svelte-icons/dist';

@layer base {
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}

	body {
		background: var(--color-bg);
		color: var(--color-text);
	}
}

@layer utilities {
	.text-main {
		color: var(--color-text);
	}

	.text-muted {
		color: var(--color-muted);
	}

	.border-main {
		border-color: var(--color-border);
	}

	.bg-50 {
		background: var(--surface-50);
	}
	.bg-100 {
		background: var(--surface-100);
	}
	.bg-200 {
		background: var(--surface-200);
	}
	.bg-300 {
		background: var(--surface-300);
	}
	.bg-400 {
		background: var(--surface-400);
	}
	.bg-500 {
		background: var(--surface-500);
	}
	.bg-600 {
		background: var(--surface-600);
	}
	.bg-700 {
		background: var(--surface-700);
	}
	.bg-800 {
		background: var(--surface-800);
	}
	.bg-900 {
		background: var(--surface-900);
	}
}
